*{
  background-image: url(img/bigback.jpg);
  background-size: 100%;
}
.game {
    width: 720px;
    height: 240px;
    border: 1px solid black;
    position: relative;
    margin: 3% 28% 0 28% ;
    background-image: url(img/background1.gif);
    background-size: 720px 240px;
}

.game2{ 
  width: 720px;
  height: 240px;
  border: 1px solid black;
  position: relative;
  margin: 15% 28% 0 28%;
  background-image: url(img/background1.gif);
  background-size: 720px 240px;
}


#dino {
    width: 50px;
    height: 50px;
    background-image: url(img/walk1.png);
    background-size: 50px 50px;
    position: relative;
    top: 190px;
  }

#dino2 {
    width: 50px;
    height: 50px;
    background-image: url(img/walk2.png);
    background-size: 50px 50px;
    position: relative;
    top: 190px;
  }
.jump {
    animation: jump 0.3s linear;
  }
  
  @keyframes jump {
    0% {
      top: 150px;
    }
  
    30% {
      top: 130px;
    }
  
    50% {
      top: 80px;
    }
  
    80% {
      top: 130px;
    }
  
    100% {
      top: 150px;
    }
  }

#obs {
    width: 100px;
    height: 100px;
    position: absolute;
    margin: 14% 100%;
  
    background-image: url("img/skill1.gif");
    background-size: 100px 100px;
  
    /* animation: block 100s infinite linear; */
}

#obs2 {
    width: 100px;
    height: 100px;
    position: absolute;
    margin: 14% 100%;

    background-image: url("img/skill2.gif");
    background-size: 100px 100px;
  
    /* animation: block 100s infinite linear  ; */
}

#obs3{
  width: 100px;
  height: 100px;
  position: absolute;
  margin: 14% 100%;


  background-image: url("img/obstacle.png");
  background-size: 100px 100px;
  background-position: 30%;
}

.create {
    animation: block 10s linear;
}

.create2 {
    animation: block 5s linear;
}

.create3 {
    animation: block 2s linear;
}

@keyframes block {
    0% {
      margin: 14% 100%;
    }
  
    100% {  
      margin: 14% -5%;
    }
  }

#anya {
    width: 100px;
    height: 100px;
    position: absolute;
    margin: 14% 100%;
  
    background-image: url("img/skill1.gif");
    background-size: 100px 100px;
  
    /* animation: block 100s infinite linear; */
}

#anya2 {
  width: 100px;
  height: 100px;
  position: absolute;
  margin: 14% 100%;

  background-image: url("img/skill2.gif");
  background-size: 100px 100px;

  /* animation: block 100s infinite linear; */
}

#anya3 {
  width: 100px;
  height: 100px;
  position: absolute;
  margin: 14% 100%;

  background-image: url("img/obstacle.png");
  background-size: 100px 100px;

  /* animation: block 100s infinite linear; */
}







